/* hero */

.hero {
	background-color: var(--background-2F303A);
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;

	// @media screen and (max-width: 767px) {
	// 	padding-top: 118px;
	// 	padding-bottom: 118px;
	// }

	&__title {
		margin: auto;
		padding-bottom: 30px;
		width: 696px;
		font-size: 44px;
		line-height: 1.36;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: var(--white-FFFFFF);

		// @media screen and (max-width: 767px) {
		// 	width: 360px;
		// 	font-size: 26px;
		// 	line-height: 1.61;
		// }
	}

	&__button {
		display: block;
		margin-right: auto;
		margin-left: auto;
		padding: 10px 32px;
		min-width: 216px;
		transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

		// 	@media screen and (max-width: 767px) {
		// 		padding: 10px 24px;
		// 		min-width: 200px;
		// 	}
	}

	&__button:hover,
	&__botton:focus {
		background-color: var(--dark-blue-188CE8);
	}
}

.overlay {
	margin-left: auto;
	margin-right: auto;
	max-width: 1600px;
	height: 600px;
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(/images/hero-desktop.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

	// @media screen and (max-width: 767px) {
	// 	max-width: 480px;
	// 	height: 400px;
	// 	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
	// 		url(../images/hero-mobile.jpg);
	// }
}
