:root {
   --white-FFFFFF: #ffffff;
   --black-000000: #000000;
   --blue-2196F3: #2196f3;
   --dark-blue-188CE8: #188ce8;
   --dark-grey-212121: #212121;
   --light-gray-757575: #757575;
   --gray-AFB1B8: #afb1b8;
   --background-F5F4FA: #f5f4fa;
   --background-2F303A: #2f303a;
   --border-gray-EEEEEE: #eeeeee;
}

:root {
   --primary-font: "Roboto", sans-serif;
   --secondary-font: "Raleway", sans-serif;
}